body {
    background-image: url(record.png);
    margin: 0px;
}

.darkBackground {
    background-color: #053742;
}

.lightBackground {
    background-color: #E8F0F2;

}

.textAlignCenter {
    text-align: center;
}

.padding1em {
    padding: 1em;
}

.lightBlueText {
    color: #A2DBFA;
}

.midBlueText {
    color: #39A2DB;
}